- @page_title = "Add User"
- breadcrumb "Users", users_path

= render_header "Add New User"

.container
  = form_for @user do |f|
    = f.error_messages
    .box.island.island--form.module
      .formGroup
        = f.label :email_address, "Email Address", :class => "formLabel"
        %p.formHint
          To add a new user just enter their email address below.
          An email will be sent to them and they’ll be prompted to login or create their own account with your chosen authentication provider.
        = f.text_field :email_address, :autofocus => true, :class => "formControl"
    .formFooter.module.module--push
      = f.submit "Invite User by Email", :class => "button button--green"
      %p.formFooter__subText
      = link_to "Cancel", users_path, :class => "button button--secondary"
