- @page_title = "Add new user"
- breadcrumb "Users", users_path

= render_header "Add new user"

.container
  = form_for @user do |f|
    = f.error_messages
    .box.island.island--form.module
      .formGroup
        = f.label :email_address, "E-Mail Address", :class => "formLabel"
        %p.formHint
          To add a new user just enter their e-mail address below.
          An email will be sent to them and they’ll be prompted to login or create their own account with your chosen authentication provider.
        = f.text_field :email_address, :autofocus => true, :class => "formControl"
    .formFooter.module.module--push
      = f.submit "Send invite e-mail", :class => "button button--green"
      %p.formFooter__subText
        or
        = link_to "back to user list", users_path, :class => "formFooter__link"
