= form_for [@zone, @record] do |f|
  = f.error_messages
  %dl
    %dt= f.label :type
    %dd= f.select :type, options_for_select(Bound::RecordType.all.values.map { |rt| [rt.class.type_name, rt.class.name] }, f.object.type.class.name), {}, :class => 'js-record-type-select'
    %dt= f.label :name
    %dd= f.text_field :name
    %dt= f.label :ttl
    %dd= f.text_field :ttl, :placeholder => @zone.ttl

  - for key, type in Bound::RecordType.all
    %dl{:data => {:type => key}}
      - for field in type.fields
        %dt= label_tag "record[form_data_hash][#{field[:name]}]", field[:label]
        %dd= record_type_field_tag @record, type, field

  %p= f.submit
