- @page_title = "Apply Changes"

- if @result.success?
  %p.flashMessage.flashMessage--notice
    Changes applied successfully.
- else
  %p.flashMessage.flashMessage--alert
    Changes not applied successfully.

= render_header "Apply Changes"

.container
  - unless @result.success?
    - if @result.reload == false
      .box.module.island
        %p Failed to reload. Check the system logs for any issues with this.
    - elsif @result.zone_file_errors
      .box.module.island.island--form
        %p.module
          The following zones had errors in their generated zone files. Please check the records for these zones and try again.
        %pre.errorBlock.module~ @result.zone_file_errors.map { |zone, err| "<strong>#{link_to(zone.name, zone)}</strong><br>#{h err}\n".html_safe }.join("\n").html_safe
    - else
      .box.module.island
        %pre.errorBlock~ @result.configuration_errors

  - if Bound.config.replication
    .box.module
      .boxHeader
        %h2.heading.text--larger
          Slaves updates
      %ul
        - @result.slaves.each do |slave, result|
          %li.boxItem.changeListing.island{:class => result[:success] == false ? "changeListing--zoneDeleted" : "changeListing--zoneAdded"}
            <strong>#{slave}:</strong> #{result[:text]}

  .box.module
    .boxHeader
      %h2.heading.text--larger
        Zone files exported
    - if @result.zone_files_exported.empty?
      %p.emptyState
        No zone files were exported.
    - else
      %ul
        - @result.zone_files_exported.each do |file|
          %li.boxItem.changeListing.changeListing--zoneAdded.island
            = file

  .box.module
    .boxHeader
      %h2.heading.text--larger
        Zone files deleted
    - if @result.zone_files_deleted.empty?
      %p.emptyState
        No zone files were deleted.
    - else
      %ul
        - @result.zone_files_deleted.each do |file|
          %li.boxItem.changeListing.changeListing--zoneDeleted.island
            = file
