- @page_title = "Apply Changes"
%h1.page__header Apply Pending Changes
.page__content
  - if @changes.empty?
    %p.u-margin There are currently no changes pending. Use the button below to reload all configuration.
  - else
    %p.u-margin= link_to "Apply these changes", publish_path, :method => :post, :class => "button"
    %ul.changeList.u-margin
      - for change in @changes
        %li.changeList__item{:class => "changeList__item--#{change.event}"}
          %p.changeList__description= change.description.gsub(/\[(.*?)\]/) { content_tag(:b, h($1)) }.html_safe
          %p.changeList__timestamp= change.created_at.to_s(:long)

  %p= link_to "Apply these changes", publish_path, :method => :post, :class => "button"
