- @page_title = "Apply Changes"

- if @changes.any?
  - header_action "Apply", publish_path, :color => :green, :method => :post

= render_header "Apply Changes"

.container
  - if @changes.empty?
    %p.box.emptyState
      There are currently no changes pending. Do you want to #{link_to "reload all configuration", publish_path, :class => "emptyState__link", :method => :post}?
  - else
    %ul.box
      - @changes.each do |change|
        %li.boxItem.changeListing.island{:class => "changeListing--#{change.event.camelize(:lower)}"}
          %p.changeListing_desc
            = change.description.gsub(/\[(.*?)\]/) { content_tag(:b, h($1)) }.html_safe
          %p.changeListing__timestamp
            = change.created_at.to_s(:long)
