- @page_title = @zone.name
.page__header
  = @zone.name
  .page__headerButton
    = link_to "Add Record", new_zone_record_path(@zone), :class => 'button'
    = link_to "Import", import_zone_path(@zone), :class => 'button'
    = link_to "Edit", edit_zone_path(@zone), :class => 'button'
.page__content
  %table.dataTable.u-margin
    %thead
      %tr
        %td{:width => "25%"} Name
        %td{:width => "10%"} TTL
        %td.u-center{:width => "12%"} Type
        %td{:width => "53%"} Data
    %tbody
      - if @records.empty?
        %tr
          %td.dataTable__empty{:colspan => 4} There are no records for this zone yet.
      - else
        - for record in @records
          %tr
            %td= link_to record.name || "@", edit_zone_record_path(@zone, record), :class => "u-link"
            %td= record.ttl
            %td.u-center= record_type_tag record.type
            %td= record.data

  %p.u-align-right= link_to "View raw zone file", zone_file_zone_path(@zone), :class => 'u-subLink', :target => '_blank'
