- @page_title = @zone.name
- breadcrumb "Zones", zones_path
- header_action "Add Record", new_zone_record_path(@zone), :color => :green
- header_action "Edit", edit_zone_path(@zone), :color => :orange
- header_action "Import", import_zone_path(@zone), :color => :blue

= render_header @zone.description

.container
  .box.module
    %table.zoneTable
      %thead.zoneTable__header
        %tr
          %td.zoneTable__col.zoneTable__col--default
            Type
          %td.zoneTable__col.zoneTable__col--default
            Name
          %td.zoneTable__col.zoneTable__col--default
            TTL
          %td.zoneTable__col.zoneTable__col--data
            Data
      %tbody
        - if @records.empty?
          %tr
            %td{:colspan => 4} There are no records for this zone yet.
        - else
          - @records.each do |record|
            %tr.boxItem.zoneTable__row
              %td.zoneTable__col.zoneTable__col--default
                = record_type_tag record.type
              %td.zoneTable__col.zoneTable__col--default
                = link_to (record.name || "@"), edit_zone_record_path(@zone, record), :class => "zoneTable__link"
              %td.zoneTable__col.zoneTable__col--default
                = record.ttl || content_tag(:span, "&mdash;".html_safe, :class => "text--subtle")
              %td.zoneTable__col.zoneTable__col--data
                = record.data
  .module.u-textRight
    = link_to "View raw zone file", zone_file_zone_path(@zone), :class => "button button--blue rawButton", :target => "_blank"
