!!!
%html
  %head
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "no-cache", :name => "turbolinks-cache-control"}
    %title #{@page_title} – Bound
    = stylesheet_link_tag "application/application", "data-turbolinks-track" => "reload"
    = javascript_include_tag "application", "data-turbolinks-track" => "reload"
  %body
    - if logged_in?
      = render "shared/sidebar"
    .content
      = display_flash
      = yield
    .js-outlet{"data-turbolinks-permanent" => true}
      .overlay
